.tasksBlock {
    display: grid;
    grid-template-columns: 120px 100px 55px;
    margin:10px;
    justify-items: center;
}

.task {
    margin: 10px;
    width: 100px;
    font-weight: bold;
}

.priority{
    margin: 10px;
    width: 100px;
}

.low {
    color: olivedrab;
}

.middle {
    color: orange;
}

.high {
    color: red;
}

.button{
/*    margin: 5px;*/
/*    width: 56px;*/
    background: #b48bf2;
/*    border: none;*/
}

.active{
    background: black;
}

.buttonX{
    background: plum;
    border: none;
}
