.button{
    outline: none;
    margin: 5px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    min-width: 100px;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

.default {
    background: #4676d7;
}

.red {
    background: red;

}

.default:hover {
    background: #1d49aa;
}

.red:hover {
    background: #de0021;
}

.button:focus {
    box-shadow: 0 0 0 4px #cbd6ee;
}

.button:disabled {
    opacity: 65%;
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
}
